<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<div class="gray-bg">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <form class="layui-form" lay-filter="form-post-filter">
                                    <div class="layui-row layui-col-space10 layui-form-item">
                                        <div class="layui-col-lg4">
                                            <label class="layui-form-label">岗位编码：</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="postCode" placeholder="" autocomplete="off"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                        <div class="layui-col-lg4">
                                            <label class="layui-form-label">岗位名称：</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="postName" placeholder="" autocomplete="off"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row" style="text-align: right">
                                        <button class="layui-btn" lay-submit data-type="reload">搜索</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table id="table_post" lay-filter="table_post">
                        </table>
                        <script type="text/html" id="col_operation">
                            <a shiro:hasPermission="system:post:edit" class="layui-btn layui-btn-xs" href="javascript:;"
                               lay-event="edit"><i class="fa fa-edit"></i>编辑</a>
                            <a shiro:hasPermission="system:post:remove" class="layui-btn layui-btn-xs"
                               href="javascript:;" lay-event="del"><i class="fa fa-remove"></i>删除</a>
                        </script>
                        <script type="text/html" id="table_post_toolbar">
                            <div class="layui-btn-container" shiro:hasPermission="system:post:add">
                                <button class="layui-btn layui-btn-sm" lay-event="toolbar-post-add"
                                        shiro:hasPermission="system:post:add">新增
                                </button>
                                <button class="layui-btn layui-btn-sm" lay-event="toolbar-post-remove"
                                        shiro:hasPermission="system:post:remove">批量删除
                                </button>
                            </div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:post:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:post:remove')}]];
    var prefix = ctx + "system/post";
</script>
<script>
    layui.config({
        base: ctx + 'js/admin/post/'
    }).use(['post'], function () {
        var post = layui.post;
        post.init({
            "prefix": prefix,
            "editFlag": editFlag
        });
    });
</script>
<style scoped>
</style>
</body>
</html>