<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- build:css -->
	<link rel="stylesheet" href="/static/lib/kitadmin/css/layui.css" th:href="@{/lib/kitadmin/css/layui.css}">
	<link rel="stylesheet" href="/static/lib/kitadmin/css/theme/default.css" th:href="@{/lib/kitadmin/css/theme/default.css}" id="theme">
	<link rel="stylesheet" href="/static/lib/kitadmin/css/nprogress.css" th:href="@{/lib/kitadmin/css/nprogress.css}">
	<!-- endbuild -->
	<style>
		.eleTree{
			width: 350px;
			height: 500px;
			border: 1px solid #ccc;
			overflow: hidden;
			display: inline-block;
			position: absolute;
		}
	</style>
</head>
<body>
<div class="container">
	<form class="layui-form" lay-filter="form-${module}" th:object="${${classname}}">
		<input id="${primaryKey.attrname}" name="${primaryKey.attrname}" type="hidden" th:field="*{${primaryKey.attrname}}"/>
		#set( $page = 'edit' )
		#foreach($column in $columns)
			#if($column.columnName != $primaryKey.columnName)
				#if(${column.editField})
					#parse("vm/web/${tmpl}/html/fields.html.vm")
				#end
			#end
		#end
		<button class="layui-btn" id="btn-add-${classname}" style="display:none"  lay-submit lay-filter="btn-add-${classname}">test</button>
	</form>
</div>
<script src="../static/lib/kitadmin/polyfill.min.js" th:src="@{/lib/kitadmin/polyfill.min.js}"></script>
<script src="../static/lib/kitadmin/layui.js" th:src="@{/lib/kitadmin/layui.js}"></script>
<script src="../static/lib/kitadmin/kitadmin.js" th:src="@{/lib/kitadmin/kitadmin.js}"></script>

<script th:inline="javascript">
	var ctx = [[@{/}]];
		var editFlag = [[${@permission.hasPermi('${module}:${classname}:edit')}]];
		var prefix = ctx + "${uri}";
</script>
<script>
	layui.config({
		base: '/js/admin/${module}/'
	}).use(['${classname}_add'], function(){
		var _add = layui.${classname}_add;
		var _id = document.getElementById("${primaryKey.attrname}").value;
		_add.init({
			"prefix":prefix,
			"editFlag":editFlag,
			"id":_id
		});
	});
</script>
</body>
</html>