<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- build:css -->
    <link rel="stylesheet" href="/static/lib/kitadmin/css/layui.css" th:href="@{/lib/kitadmin/css/layui.css}">
    <link rel="stylesheet" href="/static/lib/kitadmin/css/theme/default.css"
          th:href="@{/lib/kitadmin/css/theme/default.css}" id="theme">
    <link rel="stylesheet" href="/static/lib/kitadmin/css/nprogress.css" th:href="@{/lib/kitadmin/css/nprogress.css}">
    <!-- endbuild -->
    <style>
        .eleTree {
            width: 350px;
            height: 500px;
            border: 1px solid #ccc;
            overflow: hidden;
            display: inline-block;
            position: absolute;
        }
    </style>
</head>
<body>
<div class="container">
    <form class="layui-form" lay-filter="form-config" th:object="${config}">
        <input id="configId" name="configId" type="hidden" th:field="*{configId}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">参数名称：</label>
            <div class="layui-input-block">
                <input type="text" name="configName" placeholder="" autocomplete="off" class="layui-input"
                       th:field="*{configName}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">参数键名：</label>
            <div class="layui-input-block">
                <input type="text" name="configKey" placeholder="" autocomplete="off" class="layui-input"
                       th:field="*{configKey}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">参数键值：</label>
            <div class="layui-input-block">
                <input type="text" name="configValue" placeholder="" autocomplete="off" class="layui-input"
                       th:field="*{configValue}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">系统内置：</label>
            <div class="layui-input-block">
                <span th:each="dict : ${@dict.getType('sys_yes_no')}">
                    <input type="radio" th:id="${dict.dictCode}" name="configType" th:value="${dict.dictValue}" th:title="${dict.dictLabel}" th:field="*{configType}" />
                </span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea rows="3" type="text" name="remark" placeholder="" autocomplete="off" class="layui-textarea"
                       th:field="*{remark}"></textarea>
            </div>
        </div>
        <button class="layui-btn" id="btn-add" style="display:none" lay-submit lay-filter="btn-add">test</button>
    </form>
</div>
<script src="../static/lib/kitadmin/polyfill.min.js" th:src="@{/lib/kitadmin/polyfill.min.js}"></script>
<script src="../static/lib/kitadmin/layui.js" th:src="@{/lib/kitadmin/layui.js}"></script>
<script src="../static/lib/kitadmin/kitadmin.js" th:src="@{/lib/kitadmin/kitadmin.js}"></script>

<script th:inline="javascript">
    var ctx = [[@{
        /}]];
        var editFlag = [[${@permission.hasPermi('system:config:edit')}]];
        var prefix = ctx + "system/config";
</script>
<script>
    layui.config({
        base: '/js/admin/config/'
    }).use(['add'], function () {
        var add = layui.add;
        var _id = document.getElementById("configId").value;
        add.init({
            "prefix": prefix,
            "editFlag": editFlag,
            "id": _id
        });
    });
</script>
</body>
</html>