<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- build:css -->
    <link rel="stylesheet" href="/static/lib/kitadmin/css/layui.css" th:href="@{/lib/kitadmin/css/layui.css}">
    <link rel="stylesheet" href="/static/lib/kitadmin/css/theme/default.css"
          th:href="@{/lib/kitadmin/css/theme/default.css}" id="theme">
    <link rel="stylesheet" href="/static/lib/kitadmin/css/nprogress.css" th:href="@{/lib/kitadmin/css/nprogress.css}">
    <!-- endbuild -->
    <style>
        .eleTree {
            width: 350px;
            height: 500px;
            border: 1px solid #ccc;
            overflow: hidden;
            display: inline-block;
            position: absolute;
        }
    </style>
</head>
<body>
<div class="container">
    <form class="layui-form" lay-filter="form-dept" th:object="${dept}">
        <input id="deptId" name="deptId" type="hidden" th:field="*{deptId}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">部门名称：</label>
            <div class="layui-input-block">
                <input type="text" name="deptName" placeholder="" autocomplete="off" class="layui-input"
                       th:field="*{deptName}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">显示顺序：</label>
            <div class="layui-input-block">
                <input type="text" name="orderNum" placeholder="" autocomplete="off" class="layui-input"
                       th:field="*{orderNum}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">负责人：</label>
            <div class="layui-input-block">
                <input type="text" name="leader" placeholder="" autocomplete="off" class="layui-input"
                       th:field="*{leader}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话：</label>
            <div class="layui-input-block">
                <input type="text" name="phone" placeholder="" autocomplete="off" class="layui-input"
                       th:field="*{phone}"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部门状态：</label>
            <div class="layui-input-block">
                <span th:each="dict : ${@dict.getType('sys_normal_disable')}">
                    <input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:title="${dict.dictLabel}" th:field="*{status}" />
                </span>
            </div>
        </div>
        <button class="layui-btn" id="btn-add" style="display:none" lay-submit lay-filter="btn-add">test</button>
    </form>
</div>
<script src="../static/lib/kitadmin/polyfill.min.js" th:src="@{/lib/kitadmin/polyfill.min.js}"></script>
<script src="../static/lib/kitadmin/layui.js" th:src="@{/lib/kitadmin/layui.js}"></script>
<script src="../static/lib/kitadmin/kitadmin.js" th:src="@{/lib/kitadmin/kitadmin.js}"></script>

<script th:inline="javascript">
    var ctx = [[@{
        /}]];
        var editFlag = [[${@permission.hasPermi('system:dept:edit')}]];
        var prefix = ctx + "system/dept";
</script>
<script>
    layui.config({
        base: '/js/admin/dept/'
    }).use(['add'], function () {
        var add = layui.add;
        var _id = document.getElementById("deptId").value;
        add.init({
            "prefix": prefix,
            "editFlag": editFlag,
            "id": _id
        });
    });
</script>
</body>
</html>