<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<div class="gray-bg">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <form class="layui-form" lay-filter="form-logininfor-filter}">
                                    <div class="layui-row layui-col-space10 layui-form-item">
                                        <div class="layui-col-lg4">
                                            <label class="layui-form-label">登录账号：</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="loginName" placeholder="" autocomplete="off"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row" style="text-align: right">
                                        <button class="layui-btn" lay-submit data-type="reload">搜索</button>
                                        <button class="layui-btn layui-btn-warm" type="reset">重置</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table id="table_logininfor" lay-filter="table_logininfor">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:logininfor:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:logininfor:remove')}]];
    var prefix = ctx + "monitor/logininfor";
</script>
<script>
    layui.config({
        base: ctx + 'js/admin/logininfor/'
    }).use(['logininfor'], function () {
        var logininfor = layui.logininfor;
        logininfor.init({
            "prefix": prefix,
            "editFlag": editFlag
        });
    });
</script>
<style scoped>
</style>
</body>
</html>