<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<div class="gray-bg">
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-xs12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div class="layui-row">
                            <div class="layui-col-md12">
                                <form class="layui-form" lay-filter="form-job-filter}">
                                    <div class="layui-row layui-col-space10 layui-form-item">
                                        <div class="layui-col-lg4">
                                            <label class="layui-form-label">任务名称：</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="jobName" placeholder="" autocomplete="off"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                        <div class="layui-col-lg4">
                                            <label class="layui-form-label">任务方法：</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="methodName" placeholder="" autocomplete="off"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                        <div class="layui-col-lg4">
                                            <label class="layui-form-label">状态：</label>
                                            <div class="layui-input-block">
                                                <select name="status" th:with="type=${@dict.getType('sys_job_status')}">
                                                    <option value="">所有</option>
                                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row" style="text-align: right">
                                        <button class="layui-btn" lay-submit data-type="reload">搜索</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table id="table_job" lay-filter="table_job">
                        </table>
                        <script type="text/html" id="col_operation">
                            <a shiro:hasPermission="system:job:edit" class="layui-btn layui-btn-xs" href="javascript:;"
                               lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                            <a shiro:hasPermission="system:job:edit" class="layui-btn layui-btn-xs" href="javascript:;"
                               lay-event="exec"><i class="layui-icon layui-icon-set-fill"></i>执行</a>
                        </script>
                        <script type="text/html" id="table_job_toolbar">
                            <div class="layui-btn-container" shiro:hasPermission="system:job:add">
                                <button class="layui-btn layui-btn-sm" lay-event="toolbar-job-add"
                                        shiro:hasPermission="system:job:add">新增
                                </button>
                                <button class="layui-btn layui-btn-sm" lay-event="toolbar-job-remove"
                                        shiro:hasPermission="system:job:remove">批量删除
                                </button>
                                <button class="layui-btn layui-btn-sm" lay-event="toolbar-job-log">执行日志
                                </button>
                            </div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:job:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:job:remove')}]];
    var prefix = ctx + "monitor/job";
</script>
<script>
    layui.config({
        base: ctx + 'js/admin/job/'
    }).use(['job'], function () {
        var job = layui.job;
        job.init({
            "prefix": prefix,
            "editFlag": editFlag
        });
    });
</script>
<style scoped>
</style>
</body>
</html>